@import '../../styles/base';
.dateField{
    padding: 8px 12px;
    border: 1px solid $borderClr;
    border-radius: 2px;
    width: 100%;
    font-size: 14px;
    &:focus{
        outline: 0;
        box-shadow: 0;
        border-color: $borderFocusClr;
    }
}